<h3>Welcome to the Black Stories Matter API!</h3>

This project is open source and we welcome your contributions!<br>
To learn more about the Black Stories Matter project, please visit us on
<%= link_to "Github.", "https://github.com/Black-Stories-Matter" %>

<h5><%= link_to "Add Another Book", "/books/new" %></h5>
<h5><%= link_to "Visit the Black Stories Matter App", "http://blackstoriesmatter.herokuapp.com/" %></h5>

This project was started, and is maintained by:
<%= link_to "Krista Stadler", "https://github.com/kristastadler" %>
and
<%= link_to "Lauren Lucero", "https://github.com/laurenlucero" %>.<br><br>
