<center><h3>Welcome to the Black Stories Matter API!</h3></center>

<center>This project is open source and we welcome your contributions!
To learn more about the Black Stories Matter project, please visit us on
<%= link_to "Github", "https://github.com/Black-Stories-Matter/black-stories-matter-fe" %></center>

<center><h5><%= link_to "View All the Books in our Database", "/books" %></h5></center>
<center><h5><%= link_to "Add Another Book", "/books/new" %></h5></center>

<center> This project was started, and is managed by:
<%= link_to "Krista Stadler", "https://github.com/kristastadler" %>
and
<%= link_to "Lauren Lucero", "https://github.com/laurenlucero" %>.</center>
